/* global styles */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
.tooltip-inner {
    max-width: 280px;
    font-size: 14px;
}
.btn-primary {
	background: #348EDA;
	border-color: #348EDA;
}
.btn-primary:hover {
	background: #3787C9;
	border-color: #3787C9;
}


/* admin styles */
.admin-header {
	background: #f5f5f5;
	padding: 5px 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}
.admin-footer {
	margin-top: 50px;
	background: #333;
	color: #999;
	padding: 20px 0;
	font-size: 13px;
}
.config-left .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #fff;
	border: 1px solid #ddd;
	color: #555;
	border-right: none;
	border-radius: 4px 0 0 4px;
	margin-right: -1px;
	z-index: 9999;
}
.config-left .nav-pills>li>a:hover, .nav-pills>li>a:focus {
	border-radius: 4px 0 0 4px;
}
.nav-pill-pane {
	display: none;
}
.nav-pill-pane.active {
	display: block;
}
.config-left {
	padding-right: 0;
}
.config-left .nav-pill-control li a {
	text-align: right;
}
.config-right {
	border-left: 1px solid #ddd;
	min-height: 215px;
}
table tbody tr td {
	vertical-align: middle !important;
}
.notification-header {
	display: none;
	margin: -30px 0 30px;
}


/* front page styles */
.terminal-body {
	background: #f6f6f6;
	margin: 20px 0;
}
.terminal-wrapper {
	background: #fff;
	border: 1px solid #f0f0f0;
	padding: 30px 40px;
	border-radius: 5px;
}
.terminal-wrapper > .page-header {
	margin-top: 0;
}
.terminal-wrapper > .page-header > h1,
.terminal-wrapper > .page-header > h2 {
	margin-top: 0;
}
.submit-button {
	font-size: 22px;
}
.submit-button .total {
	display: none;
	font-size: 17px;
	margin-bottom: 5px;
}
.submit-button .total.show {
	display: block;
}
.card-type-image {
	background: url('../images/credit-cards.jpg') 0 0 no-repeat;
	width: 37px;
	height: 23px;
	position: absolute;
	right: 56px;
	top: 6px;
	z-index: 9999;
}
.card-type-image.mastercard { background-position: 0 0; }
.card-type-image.visa { background-position: -42px 0; }
.card-type-image.amex { background-position: -84px 0; }
.card-type-image.discover { background-position: -126px 0; }
.card-type-image.none { display: none; }


/* responsive design */
@media (max-width: 991px) {
	.terminal-body {
		margin: 0;
	}
	.terminal-wrapper {
		padding: 20px 10px;
	}
	.page-header h2 {
		font-size: 20px;
	}
	hr {
		margin: 40px 0;
	}
}